#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

h4:hover{
	color: darkviolet;
}

body{
    background-image: url("https://pbs.twimg.com/media/ER0AQagU8AAUjHM.jpg:large");
}

